<!DOCTYPE html>
<body>
    <div>
        <div style="
            display:grid;">
            <!-- <img src="./images/logo.png" alt="logo" style=" -->
            <img src="cid:logo" alt="logo" style="
            height: 200px;
            width: 200px;
            object-fit: fill;
            object-position: center center;">
            <span style="
            font-size: large;
            font-weight: 700;
            text-transform: capitalize;
            color: rgb(114,115,117);">
                <%= contentTitle %>
            </span>
            <span style="
            font-size: large;
            font-weight: 400;
            color: rgb(114,115,117);">
                <%= content %>
            </span>
        </div>    
    </div>
</body>
</html>