<!DOCTYPE html>
<body>
    <div>
        <div style="
            display:grid;">
            <img src="cid:logo" alt="logo" style="
            height: 200px;
            width: 200px;
            object-fit: fill;
            object-position: center center;">
            <span style="
            font-size: large;
            font-weight: 700;
            text-transform: capitalize;
            color: rgb(114,115,117);">
                egts Teknoloji'ye Hoş Geldiniz
            </span>
            <span style="
            font-size: large;
            font-weight: 400;
            color: rgb(114,115,117);">
                Sitemize üye olduğunuz için teşekkür ederiz ve iyi alışverişler dileriz.
            </span>
            <a 
            href="<%= path %>"
            style="
            text-decoration: none;
            text-transform: none;
            color: inherit;
            font-weight: 400;
            line-height: 1.em;"
            >
                <span>
                    Lütfen üyelik işleminizin tamamlanması için 
                    tıklayınız.
                </span>
            </a>
        </div>    
    </div>
</body>
</html>