<div class="menu-bar">
    <div class="title">
      <a href="/"><img src="../images/logo.png" alt="logo" style="width: 100px;"></a>
      <a href="/admin""><span> Admin Sayfası </span></a>
    </div>
    <div class="options">
      <ul>
        <a href="/admin/order" type="button"  class="btn btn-light">
          <li> Aktif Siparişler </li>
        </a>
      </ul>
      <ul>
        <a href="/admin/closeOrder" type="button"  class="btn btn-light">
          <li> Kapanmış Siparişler </li>
        </a>
      </ul>
      <ul>
        <a href="/admin/statistic" type="button"  class="btn btn-light">
          <li> İstatistik </li>
        </a>
      </ul>
      <ul>
        <a href="/admin/carrousel" type="button"  class="btn btn-light">
          <li> Ana Sayfa Atlıkarınca </li>
        </a>
      </ul>
      <ul>
        <a href="/admin/prdctMaker" type="button"  class="btn btn-light">
          <li> Ürün Oluştur </li>
        </a href="#">
      </ul>
      <ul>
        <a href="/admin/products" type="button"  class="btn btn-light">
          <li> Ürünleri Görüntüle </li>
        </a href="#">
      </ul>
      <ul>
        <a href="/admin/members" type="button"  class="btn btn-light">
          <li> Üyeleri Görüntüle </li>
        </a href="#">
      </ul>
    </div>
  </div>