<footer class="footer_section">
    <div class="container">
      <div class="row" style="justify-content: center;">
        <div class="col-md-6 col-lg-3 footer-col">
          <div class="footer_detail">
            <h4>
              Hakkımızda
            </h4>
            <p>
              Üç senedir akıllı saat ve kulaklık satışımız bulunmaktadır instagram üzerinden bugünden itibaren satın alımları gerçeklerştirmek için artık web sitemiz vardır.
            </p>
            <div class="footer_social">
                <a href="https://www.instagram.com/egtsteknoloji2/reels/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://api.whatsapp.com/send?phone=+905523843742&text=Merhaba, size bir mesaj göndermek istiyorum" target="_blank">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer-col">
          <div class="footer_contact">
            <h4>
              İletişim Bilgileri
            </h4>
            <div class="contact_link_box">
              <a href="https://maps.app.goo.gl/tnZLXRYM4noEAwzv9/" target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Konum
                </span>
              </a>
              <a href="https://api.whatsapp.com/send?phone=+905523843742&text=Merhaba, size bir mesaj göndermek istiyorum" target="_blank">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Ara +90 539 501 5644
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  gtsahmet@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 footer-col">
            <div class="footer_contact">
              <h4>
                Dükkan
              </h4>
              <p>
                Saat: Sabah 10:00'dan Akşam 7:00'ye kadar (Açılış ve Kapanış Saatleri Arası) her zaman bekleriz.
              </p>
              <div class="contact_link_box">
                <a href="https://maps.app.goo.gl/tnZLXRYM4noEAwzv9/" target="_blank">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    Konum
                  </span>
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </footer>