<header class="headerBar">
    <div class="logo">
        <a href="/">
            <img src="../images/logo.png" id="logo" alt="logo">
        </a>
    </div>
    <form class="searchInput" action="/search" method="post">
        <input type="text" placeholder="Aramak istediğiniz ürün, model yada kategoriyi yazınız" class="form-control" name="searchKey" id="searchKey">
        <button type="submit" class="btn" style="margin-left: 10px; background-color: var(--orange); color: white;">Ara</button>
    </form>
    <div class="userOptions">
        <ul>
            <li>
                <a href="/<%= typeof isLog !== "undefined" ? 'user/profile' : 'user' %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#737476" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/basket">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#737476" class="bi bi-bag" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="menuOptions">
        <ul>
            <li class="sortTag">
                <a class="nav-link" href="/akilli-saat"> Saat </a>
            </li>
            <li class="sortTag">
                <a class="nav-link" href="/kulaklik"> Kulaklık </a>
            </li>
            <li class="sortTag">
              <a class="nav-link" href="/aksesuar"> Aksesuar </a>
            </li>
            <li class="sortTag">
                <a class="nav-link" href="/kordon"> Kordon </a>
            </li>
        </ul>
    </div>
</header>

