<div class="new">
    <% if (element.giftContent && element.giftCategory) { %>
        <div>
            <label class="green-label"> <%= element.giftContent %>   </label>
        </div>
    <% } %>
    <% if (element.discont) { %>
        <label class="green-label" style="background-color: #EF4040 !important;"><%= element.oldPrice - element.price %> TL indirimde</label>
        <!-- <label class="green-label" style="background-color: #EF4040!important;">%<%= element.discont %> Kampanya </label> -->
    <% } %>
</div>

